# Ignore les fichiers et dossiers suivants

# Fichiers de compilation et de build
build
node_modules
dist

# Fichiers de configuration
.env
.eslintcache

# Fichiers de dépendances
package-lock.json

# Fichiers de logs
npm-debug.log*

# Fichiers de cache
.cache/
.yarn/cache/

# Fichiers de tests
coverage/

# Fichiers de documentation
docs/

# Fichiers de dépendances système
.DS_Store
Thumbs.db
ehthumbs.db